<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <filter>
        <filter-name>DispatchFilter</filter-name>
        <filter-class>loctp.Filter.DispatchFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>DispatchFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>Controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StartupServlet</servlet-name>
        <servlet-class>Controller.StartupServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>Controller.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PagingServlet</servlet-name>
        <servlet-class>Controller.PagingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchServlet</servlet-name>
        <servlet-class>Controller.SearchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteAdminServlet</servlet-name>
        <servlet-class>Controller.DeleteAdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateAdminServlet</servlet-name>
        <servlet-class>Controller.UpdateAdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchAdminServlet</servlet-name>
        <servlet-class>Controller.SearchAdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddAdminServlet</servlet-name>
        <servlet-class>Controller.AddAdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddtoCartServlet</servlet-name>
        <servlet-class>Controller.AddtoCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveItemServlet</servlet-name>
        <servlet-class>Controller.RemoveItemServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateQuantityServlet</servlet-name>
        <servlet-class>Controller.UpdateQuantityServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckOutServlet</servlet-name>
        <servlet-class>Controller.CheckOutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchUserHistoryServlet</servlet-name>
        <servlet-class>Controller.SearchUserHistoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginGoogleServlet</servlet-name>
        <servlet-class>Controller.LoginGoogleServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StartupServlet</servlet-name>
        <url-pattern>/StartupServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PagingServlet</servlet-name>
        <url-pattern>/PagingServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchServlet</servlet-name>
        <url-pattern>/SearchServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteAdminServlet</servlet-name>
        <url-pattern>/DeleteAdminServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateAdminServlet</servlet-name>
        <url-pattern>/UpdateAdminServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchAdminServlet</servlet-name>
        <url-pattern>/SearchAdminServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddAdminServlet</servlet-name>
        <url-pattern>/AddAdminServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddtoCartServlet</servlet-name>
        <url-pattern>/AddtoCartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveItemServlet</servlet-name>
        <url-pattern>/RemoveItemServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateQuantityServlet</servlet-name>
        <url-pattern>/UpdateQuantityServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckOutServlet</servlet-name>
        <url-pattern>/CheckOutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchUserHistoryServlet</servlet-name>
        <url-pattern>/SearchUserHistoryServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginGoogleServlet</servlet-name>
        <url-pattern>/LoginGoogleServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <resource-ref>
        <res-ref-name>Lab2</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Shareable</res-sharing-scope>
    </resource-ref>
</web-app>
